<a href="https://colab.research.google.com/github/jakubros/NBA_players_value/blob/main/NBA_players_value.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import tensorflow as tf
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv('nba.csv', sep=';')

In [ ]:
df

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Salary_23-24
0,1,Precious Achiuwa,C,22,TOR,73,28,23.6,3.6,8.3,...,2.0,4.5,6.5,1.1,0.5,0.6,1.2,2.1,9.1,4379527
1,2,Steven Adams,C,28,MEM,76,75,26.3,2.8,5.1,...,4.6,5.4,10.0,3.4,0.9,0.8,1.5,2.0,6.9,12600000
2,3,Bam Adebayo,C,24,MIA,56,56,32.6,7.3,13.0,...,2.4,7.6,10.1,3.4,1.4,0.8,2.6,3.1,19.1,32600060
3,4,Santi Aldama,PF,21,MEM,32,0,11.3,1.7,4.1,...,1.0,1.7,2.7,0.7,0.2,0.3,0.5,1.1,4.1,2194200
4,5,Grayson Allen,SG,26,MIL,66,61,27.3,3.9,8.6,...,0.5,2.9,3.4,1.5,0.7,0.3,0.7,1.5,11.1,8500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
256,257,Ziaire Williams,SF,20,MEM,62,31,21.7,3.1,6.8,...,0.4,1.7,2.1,1.0,0.6,0.2,0.7,1.8,8.1,4810200
257,258,Delon Wright,SG,29,ATL,77,8,18.9,1.6,3.5,...,0.6,2.2,2.9,2.4,1.2,0.2,0.6,0.7,4.4,8195122
258,259,Thaddeus Young,PF,33,TOT,52,1,16.3,2.7,5.2,...,1.5,2.5,4.0,2.0,1.0,0.3,1.0,1.6,6.2,8000000
259,260,Trae Young,PG,23,ATL,76,76,34.9,9.4,20.3,...,0.7,3.1,3.7,9.7,0.9,0.1,4.0,1.7,28.4,40064220
260,261,Ivica Zubac,C,24,LAC,76,76,24.4,4.1,6.5,...,2.9,5.6,8.5,1.6,0.5,1.0,1.5,2.7,10.3,10933333

In [ ]:
df.describe()

,Rk,Age,G,GS,MP,FG,FGA,3P,3PA,2P,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Salary_23-24
count,261.00000,261.000000,261.000000,261.000000,261.000000,261.000000,261.000000,261.000000,261.000000,261.000000,...,261.000000,261.000000,261.000000,261.000000,261.000000,261.000000,261.000000,261.000000,261.000000,2.610000e+02
mean,131.00000,25.084291,56.574713,34.524904,24.509962,4.349808,9.359770,1.276628,3.608429,3.073946,...,1.065900,3.560153,4.627203,2.647126,0.777395,0.489272,1.401149,1.929119,11.853257,1.364750e+07
std,75.48841,4.063035,19.541651,28.110160,8.555209,2.401148,5.070248,0.935265,2.448109,2.035873,...,0.832758,1.962637,2.583213,2.118608,0.409674,0.430697,0.928377,0.704160,6.724053,1.245375e+07
min,1.00000,19.000000,2.000000,0.000000,3.000000,0.000000,0.500000,0.000000,0.000000,0.000000,...,0.000000,0.300000,0.400000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.680320e+05
25%,66.00000,22.000000,48.000000,8.000000,18.200000,2.700000,5.600000,0.500000,1.700000,1.600000,...,0.500000,2.300000,2.900000,1.100000,0.500000,0.200000,0.800000,1.500000,7.400000,3.918480e+06
50%,131.00000,24.000000,62.000000,31.000000,26.000000,3.900000,8.300000,1.100000,3.500000,2.700000,...,0.800000,3.200000,4.100000,2.000000,0.700000,0.400000,1.100000,2.000000,10.400000,9.450000e+06
75%,196.00000,28.000000,72.000000,62.000000,31.900000,5.800000,12.600000,1.900000,5.300000,4.100000,...,1.400000,4.400000,5.600000,3.600000,1.000000,0.600000,1.800000,2.400000,16.000000,1.885714e+07
max,261.00000,37.000000,82.000000,82.000000,37.900000,11.400000,21.800000,4.500000,11.700000,9.500000,...,4.600000,11.000000,14.700000,10.800000,2.200000,2.800000,4.500000,3.700000,30.600000,5.336999e+07

In [ ]:
df['Pos'].unique()

array(['C', 'PF', 'SG', 'PG', 'SF', 'SG-PG', 'SG-SF', 'C-PF', 'SF-SG'],
      dtype=object)

In [30]:
def zmien_wartosci(pos):
    if pos in ['C', 'C-PF']:
        return 5
    elif pos == 'PF':
        return 4
    elif pos in ['SF', 'SF-SG']:
        return 3
    elif pos in ['SG', 'SG-PG', 'SG-SF']:
        return 2
    elif pos == 'PG':
        return 1

df['Pos_Num']=df['Pos'].apply(zmien_wartosci).astype(int)

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 261 entries, 0 to 260
Data columns (total 28 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rk            261 non-null    int64
 1   Player        261 non-null    object
 2   Pos           261 non-null    object
 3   Age           261 non-null    int64
 4   Tm            261 non-null    object
 5   G             261 non-null    int64
 6   GS            261 non-null    int64
 7   MP            261 non-null    float64
 8   FG            261 non-null    float64
 9   FGA           261 non-null    float64
 10  3P            261 non-null    float64
 11  3PA           261 non-null    float64
 12  2P            261 non-null    float64
 13  2PA           261 non-null    float64
 14  eFG%          261 non-null    float64
 15  FT            261 non-null    float64
 16  FTA           261 non-null    float64
 17  ORB           261 non-null    float64
 18  DRB           261 non-null    float64
 19  TRB           261 non-null    float64
 20  AST           261 non-null    float64
 21  STL           261 non-null    float64
 22  BLK           261 non-null    float64
 23  TOV           261 non-null    float64
 24  PF            261 non-null    float64
 25  PTS           261 non-null    float64
 26  Salary_23-24  261 non-null    int64
 27  Pos_Num       261 non-null    int64
dtypes: float64(19), int64(6), object(3)
memory usage: 57.2+ KB

In [34]:
df['Age_new']=pd.cut(df['Age'],
                          bins=[18, 25, 32, 100],
                          labels = [1, 2, 3])

In [32]:
ax = sns.heatmap(df, linewidth=0.5)
plt.show()

ValueError: ignored